@font-face {
    font-family: Cursed Timer ULiL;
    src: url(fonts/CursedTimerULiL.ttf);
  }

body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}

.score {
    background: #080001;
    border-radius: 5px;
}

h1 {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;

    padding-top: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.buttons {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 0 25px;
    margin: 0 5px;
}

.button-text {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
}